@model ZoolandiaMVC.ViewModels.DocumentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHabitat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHabitat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdSpecies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSpecies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm("Details", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="file">File Upload:</label>
        <br />
        @Html.Label("File Name:   ")@Html.TextBoxFor(model => model.Title)

        
        <input type="file" name="file" id="file" />
        <br>
        <input type="submit" value="Upload File" />
        <br>
    }

</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
